body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header{
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscript{
  font-size: 0.5em;
  color: grey;
}

.content{
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputArea{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%; 
  padding: 10px; 
  border: 2px solid #ccc; 
  border-radius: 5px; 
  resize: vertical; 
  font-size: 16px; 
  line-height: 1.4; 
}

textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.customize{
  width: 60%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  background-color: grey;
  /*color: black;*/
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: auto;
  transition: background-color 0.3s ease;
}

.submitButton:hover{
  background-color: #0056b3;
}

select { 
  padding: 7px; 
  border: 2px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px; 
  line-height: 1.4; 
}

select:focus {
  border-color: black;
  outline: none;
}